@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 98vw;
  margin: 0 auto;
  /* border: solid 2px black; */
  line-height: 1.5;
}

.head {
  width: 98vw;
  height: 25vh;
  /* padding: 0 3em; */
  
  position:absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head__img {
  width: 9vw;
  border-radius: 50%;
}

.head__img--position {
  position: relative;
  left: 1.5em;
  top: 0.5em;
}

.head__links--position {
  position: relative;
  right: 2.5em;
  top: 0
}

a {
  text-decoration: none;
  color: #222222;
  transition: all 500ms;
}

.link--style:hover {
  color: #0C9BFB;
}

a:visited {
  color: #222222
}

.introduction {
  height: 100vh;
  width: 100%;
  text-align: center;
  /* border: solid 20x black; */

  background-size: 100%;
}

.int__txt--position {
  position: relative;
  top: 50%;
}

.film__head {
  height: 3em;
  text-align: center;
  line-height: 3em;

  background-color: #222222;
  color: white
}

.film__content--layout {
  display: flex;
  justify-content: space-between;
}

.film__content--layoutinv {
  flex-direction: row-reverse;
}

.content {
  margin-top: 0.5em;
  width: 48.5vw;
  padding: 0.25em 0.5em 0;
  text-align: justify;
}

.film__img--size {
  width: 48.5vw
}

.film__img4 {
  width: 48.5vw;
  background: url("https://i0.wp.com/3.bp.blogspot.com/-i19DgNVJEQk/W6EcE33mjmI/AAAAAAAABC8/z7v6iEx6wO8QNhkYeGB8VjC2qy7Z-uZfQCLcBGAs/s1600/2001-A-Space-Odyssey.png?ssl=1") fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-position: right; */
}

q {
  font-style: italic;
}

footer {
  width: 98vw;
  height: 15vh;
  background: #222222;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

footer a {
  color: white;
}